.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  h1 a {
    color: #f1356d;
    text-decoration: none;
  }
  .links {
    margin-left: auto;
    a {
      font-weight: bold;
      margin-left: 16px;
      padding: 8px;
      border-radius: 8px;
      text-decoration: none;
      transition: 0.3s ease;
      &:hover {
        background: #f1356d;
        color: #fff;
      }
    }
  }
}
