.navbar {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  border-bottom: 1px solid #707070;
  h1 a {
    font-size: 2rem;
    color: #bb0a1e;
    text-decoration: none;
    transition: 0.2s ease;
    letter-spacing: 1px;
    &:hover {
      text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
    }
  }
  .fab {
    color: #bb0a1e;
  }
  .links {
    margin-left: auto;
    a {
      font-weight: bold;
      margin-left: 4rem;
      padding: 0.75rem 1rem 0.5rem 1rem;
      border-radius: 0.5rem;
      letter-spacing: 1px;
      text-decoration: none;
      transition: 0.3s ease-in-out;
      &:hover {
        background: #bb0a1e;
        color: #fff;
      }
    }
  }
}
