.error {
  display: flex;
  flex-direction: column;
  h2 {
    font-size: 24px;
    color: #f1356d;
    margin-bottom: 2rem;
  }
  p {
    margin-bottom: 2rem;
  }
  button {
    background: #f1356d;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    border: 0;
    outline: none;
    padding: 8px 16px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    &:hover {
      box-shadow: 0 2px 5px #333;
    }
  }
}
